<input name="id" value="{{#id}}{{id}}{{/id}}" hidden>
<input required type="text" name="groupNumber" placeholder="Номер группы"
       value="{{#groupNumber}}{{groupNumber}}{{/groupNumber}}"
       pattern="\d{1,9}" oninvalid="this.setCustomValidity('Только числа')">

<div class="multiple-select">
    <select name="disciplines" size="3" multiple>
        {{#notChosenDiscipline}}
            <option value="{{id}}">{{disciplineName}}</option>
        {{/notChosenDiscipline}}
        {{#editingGroup.disciplines}}
            <option selected value="{{id}}">{{disciplineName}}</option>
        {{/editingGroup.disciplines}}
    </select>
</div>

