{{#if selectedGroup}}
    <div class="form-group mx-sm-1 mb-1">
        <select name="students" class="form-control">
            {{#studentInGroup}}
                <option value="{{id}}">
                    {{firstName}} {{lastName}}
                </option>
            {{/studentInGroup}}
        </select>
    </div>
    <div class="form-group mx-sm-1 mb-1">
        <select name="disciplines" class="form-control">
            {{#disciplines}}
                <option value="{{id}}">
                    {{disciplineName}}
                </option>
            {{/disciplines}}
        </select>
    </div>
    <div class="form-group mb-1 ">
        <input class="form-control" required type="text" name="mark"
               placeholder="{{message "button.mark"}}" value="{{#mark}}{{mark}}{{/mark}}"
               pattern="^(?:[1-9]|0[1-9]|10)$" oninvalid="this.setCustomValidity('{{message
                "system.onlyNumbersUpToTen"}}')">
    </div>
{{else}}
    <div class="form-group mx-sm-1 mb-1">
        <select name="groups" class="form-control">
            {{#groups}}
                <option {{#eq selectedGroup.id id}}selected{{/eq}} value="{{id}}">
                    {{groupNumber}}
                </option>
            {{/groups}}
        </select>
    </div>
    <input name="id" value="{{#id}}{{id}}{{/id}}" hidden>
{{/if}}
