{{#if selectedGroup}}
    <select name="students">
        {{#studentInGroup}}
            <option value="{{id}}">
                {{firstName}} {{lastName}}
            </option>
        {{/studentInGroup}}
    </select>

    <select name="disciplines">
        {{#disciplines}}
            <option value="{{id}}">
                {{disciplineName}}
            </option>
        {{/disciplines}}
    </select>
    <input required type="text" name="mark" placeholder="mark" value="{{#mark}}{{mark}}{{/mark}}"
           pattern="^(?:[1-9]|0[1-9]|10)$">

{{else}}
    <select name="groups">
        {{#groups}}
            <option {{#eq selectedGroup.id id}}selected{{/eq}} value="{{id}}">
                {{groupNumber}}
            </option>
        {{/groups}}
    </select>
    <input name="id" value="{{#id}}{{id}}{{/id}}" hidden>
{{/if}}

{{#if mark}}
    <label for="mark"> {{studentId.firstName}} {{studentId.lastName}} :</label>
    <input required type="text" name="mark" placeholder="mark" value="{{#mark}}{{mark}}{{/mark}}"
           pattern="^(?:[1-9]|0[1-9]|10)$">
{{/if}}
