<input required type="text" name="firstName" placeholder="first name" value="{{#firstName}}{{firstName}}{{/firstName}}"
       pattern="^[а-яА-ЯёЁa-zA-Z]+$" {{> partials/defaultRequiredText}}>
<input required type="text" name="lastName" placeholder="last name" value="{{#lastName}}{{lastName}}{{/lastName}}"
       pattern="^[а-яА-ЯёЁa-zA-Z]+$" {{> partials/defaultRequiredText}}>
<input type="hidden" name="id" value="{{#id}}{{id}}{{/id}}">

<div class="ddl-select">
    <select name="group">
        {{#groups}}
            <option {{#eq groupNumber group.groupNumber}}selected{{/eq}} value="{{id}}">
                {{groupNumber}}
            </option>
        {{/groups}}
    </select>
</div>