<html>
<body>
{{> index}}
<div>
    {{#disciplineForEdit}}
        <form method="post" action="/editDiscipline/{{#id}}{{id}}{{/id}}/patch">
            {{> partials/addDisciplineForm}}

            <button type="submit">upd discipline</button>
        </form>
    {{/disciplineForEdit}}
    {{^disciplineForEdit}}
        <form method="post" action="/addDiscipline">
            {{> partials/addDisciplineForm}}

            <button type="submit">add discipline</button>
        </form>
    {{/disciplineForEdit}}
</div>

<div>Список дисциплин</div>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>название дисциплины</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#disciplines}}
            <tr>
                <td>{{id}}</td>
                <td>{{#disciplineName}}{{.}}{{/disciplineName}}</td>
                <td><a href="/deleteDiscipline/{{id}}">delete</a></td>
                <td><a href="/editDiscipline/{{id}}">edit</a></td>
            </tr>
        {{/disciplines}}
    </table>

</div>

</body>
</html>

