<html>
<head>
    <link rel="stylesheet" href="/background.css"/>
    <link rel="stylesheet" href="/tables.css"/>
    <link rel="stylesheet" href="/input.css"/>
</head>
<body>
{{> navbar}}

<div id="inner" class="container">
    <div id="forms">
        {{#if isAdminOrModer}}
            {{#disciplineForEdit}}
                <div class="container">
                    <form class="form-inline" role="form" method="post"
                          action="/editDiscipline/{{#id}}{{id}}{{/id}}/patch">
                        {{> partials/addDisciplineForm}}

                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.upd"}}</button>
                    </form>
                </div>
            {{/disciplineForEdit}}
            {{^disciplineForEdit}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/addDiscipline">
                        {{> partials/addDisciplineForm}}

                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.add"}}</button>
                    </form>
                </div>
            {{/disciplineForEdit}}
        {{/if}}
    </div>
    <div class="table-name" align="center"><h4>{{message "tname.disciploneList"}}</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr class="active">
                <th>id</th>
                <th>{{message "table.discipline"}}</th>
                {{#if isAdminOrModer}}
                    <th>{{message "table.delete"}}</th>
                    <th>{{message "table.edit"}}</th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#disciplines}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{#disciplineName}}{{.}}{{/disciplineName}}</td>
                {{#if isAdminOrModer}}
                        <td><a href="/deleteDiscipline/{{id}}">{{message "table.delete"}}</a></td>
                        <td><a href="/editDiscipline/{{id}}">{{message "table.edit"}}</a></td>
                    </tr>
                {{/if}}
            {{/disciplines}}
            </tbody>
        </table>

    </div>
</div>

</body>
</html>

