<html>
<head>
    <link rel="stylesheet" href="/footer.css"/>
</head>
<body>
<footer class="section footer-classic context-dark bg-image" id="footer-container">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4">
                <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                    <h5 class="contact-list">{{message "footer.contacts"}}</h5>
                    <dl class="contact-list">
                        <dt>email:</dt>
                        <dd><a href="mailto:Witold.jnc@gmail.com<">Witold.jnc@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>telegram:</dt>
                        <dd><a href="https://t.me/@keyaltos">@keyaltos</a>
                        </dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>skype:</dt>
                        <dd><a href="https://join.skype.com/invite/n07a2UtIAV8g">Altos Key</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-4 col-xl-5">

            </div>
            <div class="col-md-4 col-xl-3">
                <h5>{{message "footer.links"}}</h5>
                <ul class="nav-list">
                    <li><a href="/login">{{message "navbar.login"}}</a></li>
                    <li><a href="/registration">{{message "navbar.registration"}}</a></li>
                    <li><a href="/logout">{{message "navbar.logout"}}</a></li>
                    <li><a href="/">{{message "navbar.tohome"}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row no-gutters social-container">
        <div class="col" id="github"><a class="social-inner" href="https://github.com/WitoldJnc"><span>GitHub</span></a>
        </div>
        <div class="col"><a class="social-inner" href="https://vk.com/mr.altos"><span>VK</span></a></div>
    </div>
</footer>


</body>
</html>