<html>
<body>
{{> index}}
<div>
    {{#editingGroup}}
        <form method="post" action="/editGroup/{{#id}}{{id}}{{/id}}/patch">
            {{> partials/addGroupForm}}
            <button type="submit">upd group</button>
        </form>
    {{/editingGroup}}
    {{^editingGroup}}
        <form method="post" action="/addGroup">
            {{> partials/addGroupForm}}
            <button type="submit">add group</button>
        </form>
    {{/editingGroup}}
</div>
<div>Список групп</div>
<div>
    <table>
        <tr>
            <th>номер группы</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#each groups}}
            <tr>
                <td><a href="/members/{{id}}">{{groupNumber}}</a></td>
                <td><a href="/deleteGroup/{{id}}">delete</a></td>
                <td><a href="/editGroup/{{id}}">edit</a></td>
            </tr>
        {{/each}}
    </table>

</div>
</body>
</html>
