<html>
<head>
</head>
<body>
{{> header}}

<div id="inner" class="container">
    <div id="forms">
        {{#if isAdminOrModer}}
            {{#editingGroup}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/editGroup/{{#id}}{{id}}{{/id}}/patch">
                        {{> partials/addGroupForm}}
                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.upd"}}</button>
                    </form>
                </div>
            {{/editingGroup}}
            {{^editingGroup}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/addGroup">
                        {{> partials/addGroupForm}}
                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.add"}}</button>
                    </form>
                </div>
            {{/editingGroup}}
        {{/if}}
    </div>
    <div class="table-name" align="center"><h4>{{message "tname.groupList"}}</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr class="active">
                <th>{{message "table.groupNumber"}}</th>
                {{#if isAdminOrModer}}
                    <th>{{message "table.delete"}}</th>
                    <th>{{message "table.edit"}}</th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each groups}}
                <tr>
                    <td><a href="/members/{{id}}">{{groupNumber}}</a></td>
                    {{#if isAdminOrModer}}
                        <td><a href="/deleteGroup/{{id}}">{{message "table.delete"}}</a></td>
                        <td><a href="/editGroup/{{id}}">{{message "table.edit"}}</a></td>
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</div>
{{> footer}}
</body>
</html>
