<html>
<head>
    <link rel="stylesheet" href="/background.css"/>
    <link rel="stylesheet" href="/tables.css"/>
    <link rel="stylesheet" href="/input.css"/>
</head>
<body>
{{> navbar}}

<div id="inner" class="container">
    <div id="forms">
        {{#if isAdminOrModer}}
            {{#editingGroup}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/editGroup/{{#id}}{{id}}{{/id}}/patch">
                        {{> partials/addGroupForm}}
                        <button class="btn btn-secondary mb-1" type="submit">upd group</button>
                    </form>
                </div>
            {{/editingGroup}}
            {{^editingGroup}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/addGroup">
                        {{> partials/addGroupForm}}
                        <button class="btn btn-secondary mb-1" type="submit">add group</button>
                    </form>
                </div>
            {{/editingGroup}}
        {{/if}}
    </div>
    <div class="table-name" align="center"><h4>Список групп</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr class="active">
                <th>Номер группы</th>
                {{#if isAdminOrModer}}
                    <th>delete</th>
                    <th>edit</th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each groups}}
                <tr>
                    <td><a href="/members/{{id}}">{{groupNumber}}</a></td>
                    {{#if isAdminOrModer}}
                        <td><a href="/deleteGroup/{{id}}">delete</a></td>
                        <td><a href="/editGroup/{{id}}">edit</a></td>
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</div>

</body>
</html>
