<html>
<head>
</head>
<body>
{{> header}}

<div id="inner" class="container">
    <div id="forms">
        {{#if isAdminOrModer}}
            {{#mark}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/editMark/{{#id}}{{id}}{{/id}}/patch">

                        {{> partials/editMarkForm}}
                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.upd"}}</button>
                    </form>
                </div>
            {{/mark}}
            {{^mark}}
                <div class="container">
                    <form class="form-inline" role="form" method="post" action="/addMarks">
                        {{> partials/addMarkForm}}
                        <button class="btn btn-secondary mb-1" type="submit">{{message "button.add"}}</button>
                    </form>
                </div>
            {{/mark}}
        {{/if}}
    </div>

    <div class="table-name" align="center"><h4>{{message "tname.markList"}}</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed ">
            <thead>
            <tr class="active">
                <th>{{message "table.groupNumber"}}</th>
                <th>{{message "table.firstAndLastName"}}</th>
                <th>{{message "table.discipline"}}</th>
                <th>{{message "table.mark"}}</th>
                {{#if isAdminOrModer}}
                    <th>{{message "table.delete"}}</th>
                    <th>{{message "table.edit"}}</th>
                {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#marks}}
                <tr>
                    <td>{{studentId.group.groupNumber}}</td>
                    <td>{{studentId.firstName}} {{studentId.lastName}}</td>
                    <td>{{#disciplineId.disciplineName}}{{.}}{{/disciplineId.disciplineName}}</td>
                    <td>{{#mark}}{{.}}{{/mark}}</td>
                    {{#if isAdminOrModer}}
                        <td><a href="/deleteMark/{{id}}">{{message "table.delete"}}</a></td>
                        <td><a href="/editMark/{{id}}">{{message "table.edit"}}</a></td>
                    {{/if}}
                </tr>
            {{/marks}}
            </tbody>
        </table>
    </div>
</div>
{{> footer}}
</body>
</html>

