<html>
<body>
{{> index}}
<div>
    {{#mark}}
        <form method="post" action="/editMark/{{#id}}{{id}}{{/id}}/patch">
            {{> partials/addMarkForm}}
            <button type="submit">upd mark</button>
        </form>
    {{/mark}}
    {{^mark}}
        <form method="post" action="/addMarks">
            {{> partials/addMarkForm}}
            <button type="submit">add mark</button>
        </form>
    {{/mark}}
</div>
<div>табель оценок</div>
<div>
    <table>
        <tr>
            <th>Номер группы</th>
            <th>Имя и фамилия</th>
            <th>Дисциплина</th>
            <th>Оценка</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        {{#marks}}
            <tr>
                <td>{{studentId.group.groupNumber}}</td>
                <td>{{studentId.firstName}} {{studentId.lastName}}</td>
                <td>{{#disciplineId.disciplineName}}{{.}}{{/disciplineId.disciplineName}}</td>
                <td>{{#mark}}{{.}}{{/mark}}</td>
                <td><a href="/deleteMark/{{id}}">delete</a></td>
                <td><a href="/editMark/{{id}}">edit</a></td>
            </tr>

        {{/marks}}
    </table>

</div>

</body>
</html>

