<html>
<head>
    <link rel="stylesheet" href="/background.css"/>
    <link rel="stylesheet" href="/tables.css"/>
    <link rel="stylesheet" href="/input.css"/>
</head>
<body>
{{> navbar}}

<div id="inner" class="container">
    <div id="forms">
        {{#mark}}
            <div class="container">
                <form class="form-inline" role="form" method="post" action="/editMark/{{#id}}{{id}}{{/id}}/patch">

                    {{> partials/editMarkForm}}
                    <button class="btn btn-secondary mb-1" type="submit">upd mark</button>
                </form>
            </div>
        {{/mark}}
        {{^mark}}
            <div class="container">
                <form class="form-inline" role="form" method="post" action="/addMarks">
                    {{> partials/addMarkForm}}
                    <button class="btn btn-secondary mb-1" type="submit">add mark</button>
                </form>
            </div>
        {{/mark}}
    </div>

    <div class="table-name" align="center"><h4>Табель оценок</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed ">
            <thead>
            <tr class="active">
                <th>Номер группы</th>
                <th>Имя и фамилия</th>
                <th>Предмет</th>
                <th>Оценка</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>
            {{#marks}}
                <tr>
                    <td>{{studentId.group.groupNumber}}</td>
                    <td>{{studentId.firstName}} {{studentId.lastName}}</td>
                    <td>{{#disciplineId.disciplineName}}{{.}}{{/disciplineId.disciplineName}}</td>
                    <td>{{#mark}}{{.}}{{/mark}}</td>
                    <td><a href="/deleteMark/{{id}}">delete</a></td>
                    <td><a href="/editMark/{{id}}">edit</a></td>
                </tr>
            {{/marks}}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>

