<html>
<head>

</head>
<body>
{{> header}}

<div id="inner" class="container">
    <div id="forms">
        {{#user}}
            <div class="container">
                <form class="form-inline" role="form" method="post" action="/editUser/{{#id}}{{id}}{{/id}}/patch">

                    <div class="form-group">
                        <label for="userInput">Username</label>
                        <input required class="form-control" id="userInput" type="text" name="username"
                               placeholder="{{message "placeholder.username"}}"
                               value="{{#username}}{{username}}{{/username}}">
                    </div>
                    <div class="form-group mx-sm-1 mb-1">
                        <select name="role" class="form-control">
                            {{#edit-role}}
                                <option {{#eq  userRole roles.userRole}}selected{{/eq}} value="{{id}}">
                                    {{userRole}}
                                </option>
                            {{/edit-role}}
                        </select>
                    </div>
                    <button class="btn btn-secondary mb-1" type="submit">{{message "button.upd"}}</button>
                </form>
            </div>
        {{/user}}
    </div>

    <div class="table-name" align="center"><h4>{{message "tname.userList"}}</h4></div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr class="active">
                <th>id</th>
                <th>{{message "placeholder.username"}}</th>
                <th>{{message "placeholder.role"}}</th>
                <th>{{message "table.delete"}}</th>
                <th>{{message "table.edit"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{username}}</td>
                    <td>{{roles.userRole}}</td>
                    <td><a href="/deleteUser/{{id}}">{{message "table.delete"}}</a></td>
                    <td><a href="/editUser/{{id}}">{{message "table.edit"}}</a></td>
                </tr>
            {{/users}}
            </tbody>
        </table>
    </div>
</div>
{{> footer}}
</body>
</html>
